<% layout("./layouts/boilerplate")%>

    <body>
        <h3>All Listings of WonderStays are Here</h3>
        <!-- <form method="get" action="/listings/new">
        <button>Create a new list</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(list of allLists) { %>
            <a href="/listings/<%=list._id%>">
            <div class="card col" style="width: 20rem;">
                <img src="<%=list.image%>" class="card-img-top" style="height:20rem;"alt="">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%=list.title%></b> <br>
                        &#8377;<%=list.price.toLocaleString("en-IN")%> per Night
                    </p>
                </div>
            </div>
            
        <%}%>
    </div>
    
        
    </body>